.app-logo {
  height: 95px;
  margin-right: 20px;
}
.app-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-title-text {
  flex-grow: 1;
}
.app-header {
  background-color: #222;
  height: 105px;
  padding: 20px;
  color: white;
  padding-left: 60px;
}
.app-left-nav {
  display: flex;
}
.app-title {
  font-size: 32px;
  margin: 0px;
  margin-top: 10px;
}
.app-intro {
  font-size: large;
}
.deploy-button-wrapper {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deploy-button {
  width: 200px;
}
.view-src {
  margin-top: 15px;
  text-align: center;
}
.view-src img {
  margin-right: 10px;
}
.view-src a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.github-icon {
  width: 25px;
  fill: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Mobile view */
@media (max-width: 768px) {
  .app-title-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .app-title {
    font-size: 23px;
    margin-top: 0px;
  }
  .app-intro {
    font-size: 14px;
  }
  .app-header {
    padding-left: 20px;
    height: auto;
  }
  .app-logo {
    height: 60px;
    margin-right: 20px;
    animation: none;
  }
  .deploy-button-wrapper {
    margin-left: 80px;
    margin-top: 5px;
  }
  .deploy-button {
    width: 150px;
  }
  .view-src {
    display: none;
  }
}

.logo-img{
  padding-top:10px;
}
.top-menu {
  padding: 0;
  margin: 0 0 1rem 1.45rem;
  list-style-position: outside;
  list-style-image: none;
  margin-left: 0px;
}
.top-menu li{
  display:inline-block;
  margin-top: calc(1.45rem / 2);
  margin-right: 1rem;
}
.top-menu li a{
  color:#fff;
  text-decoration: none;
  padding: 10px 10px 30px 0;
}
.main-content {
  min-height: calc(100vh - 259px);
}
.contact-form {
  max-width:300px;
  margin: auto;
}
.contact-form input, .contact-form textarea {
font-family: 'Open Sans', sans-serif;
font-size: 1em;
color: #666260;
border: 1px solid #c4beb9;
background: #fff;
padding: 1em;
transition: all 0.3s ease-in-out;
width: 100%;
margin-bottom: 0.5em;
}
.contact-form input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: uppercase;
font-weight: 700;
letter-spacing: .1em;
border: 1px solid #2d4059;
background-color: #2d4059;
color: #f2f2ee;
padding: 0.832em 1.414em 0.707em;
}
.mail-text {
  text-align:center;
  margin: auto;
  padding-bottom: 0.832em;
}